<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-for="(cloKind,cloIndex) in clothes" class="cloKind">
            <div class="title" :key="cloKind.title">{{cloKind.title}}</div>
            <ul class="cloItem">
                <li :class="{active:iteIndex===activeItem[cloIndex]}" v-for="(item,iteIndex) in cloKind.item" @click="selCloItem(cloIndex,iteIndex,$event)" :key="item">
                    {{item}}
                </li>
            </ul>
        </div>
        <div class="selectedClothes">
            <span class="chooseType">已选条件：</span>
            <span class="noClothes" v-if="isShow">暂时没有选择过滤条件</span>
            <ul class="chooseList" v-else="!isShow">
                <li v-for="(actItem,actIndex) in activeItem" v-show="actItem!=0">
                    {{clothes[actIndex].item[actItem]}}
                    <span class="deleteGoods" @click="deleteGoods(actIndex)">x</span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script>
    const vApp = new Vue({
        el: '#app',
        data: {
            clothes: [{
                title: '上装:',
                item: ['全部', '针织衫', '毛呢外套', 'T恤', '羽绒服', '棉衣', '卫衣', '风衣']
            }, {
                title: '裤装:',
                item: ['全部', '牛仔裤', '小脚/铅笔裤', '休闲裤', '打底裤', '哈伦裤']
            }, {
                title: '裙装:',
                item: ['全部', '连衣裙', '半身裙', '长袖连衣裙', '中长款连衣裙']
            }],
            activeItem: [0, 0, 0],
            isShow: true
        },
        methods: {
            selCloItem(cloIndex, iteIndex, e) {
                this.$set(this.activeItem, cloIndex, iteIndex);
                this.isShowData();
            },
            deleteGoods(actIndex) {
                this.$set(this.activeItem, actIndex, 0);
                this.isShowData();
            },
            isShowData() {
                if (this.activeItem[0] === 0 && this.activeItem[1] === 0 && this.activeItem[2] === 0) {
                    this.isShow = true;
                } else {
                    this.isShow = false;
                }
            }
        }
    })
</script>

</html>